@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-1-color: rgb(19, 19, 19);
    --dark-2-color: rgb(66, 66, 66);
    --dark-3-color: rgb(114, 114, 114);
    --orange-primary-color: rgb(255, 144, 14);
}

/* shared styles */

body{
    font-family: "Work Sans", sans-serif;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    margin-bottom: 130px;
}

.btn-primary {
    background-color: var(--orange-primary-color);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px 24px;
    border: none;
    border-radius: 8px;
}

.primary-desc {
    color: var(--dark-3-color);
    line-height: 26px;
}

/* nav styles */

header {
    background-color: rgba(255, 144, 14, 0.1);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    padding: 60px 0;
}

.nav-bar h3 {
    font-size: 2.8rem;
    color: var(--dark-1-color);
    font-weight: 700;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-items li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--dark-2-color);
}

/* banner styles */

.banner {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 45px;
}

.banner-content {
    max-width: 862px;
    margin: 50px auto;
    text-align: center;
}

.banner-content h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark-1-color);
}

.banner-content p {
    margin: 35px 0;
}

/* Feature styles */

.feature {
    display: flex;
    gap: 73px;
    align-items: center;
}

.feature-content {
    max-width: 540px;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#span-1 {
    font-size: 2.8rem;
    font-weight: 500;
    color: var(--dark-3-color);
}

#span-2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-1-color);
}

#span-3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--orange-primary-color);
}

.feature-content p {
    margin: 25px 0;
}

/* our features section  */

.our-features {
    display: flex;
    gap: 140px;
}

.feature-title h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-1-color);
    border-left: 5px solid var(--orange-primary-color);
    padding-left: 20px;
    margin-bottom: 24px;
}

.feature-item {
    padding: 30px;
    margin-top: 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-item h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-1-color);
    margin-bottom: 10px;
}

#btn-year {
    font-size: 4rem;
    font-weight: 700;
}

#btn-exp {
    font-size: 1.5rem;
    font-weight: 500;
}

#btn-large {
    padding: 45px;
    margin-left: -85px;
    margin-top: -120px;
}

/* facts section style */

.facts h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-1-color);
    margin-bottom: 24px;
}

.facts-box {
    border: 1px solid var(--orange-primary-color);
    border-radius: 8px;
    width: 240px;
    height: 240px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facts-box h4 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--dark-2-color);
    margin: 10px 0;
}

.facts-box h6 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-3-color);
}

.facts-box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}

/* sponsor section styles */

.sponsor h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark-1-color);
    margin-bottom: 24px;
    text-align: center;
}

.sponsor p {
    text-align: center;
}

.sponsor-logo {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.logo img {
    filter: grayscale(100%);
}

/* footer section styles */

footer {
    max-width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: rgb(255, 244, 231);

}

footer p {
    font-size: 1.2rem;
    color: var(--dark-2-color);
    text-align: center;
    padding: 38px 0;
}